@model FineArtProject.RegistrationViewModel

@{
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<style>
    /* Center-align the form and make it visually appealing */
    .card {
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* Style form labels and input fields */
    .form-group {
        margin-bottom: 15px;
    }

    .control-label {
        font-weight: bold;
    }

    .form-control {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    /* Style password and confirm password input boxes */
    .password-input {
        /* Add specific styling for password and confirm password inputs */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    /* Center-align the submit button */
    .btn-default {
        display: block;
        margin: 0 auto;
    }
</style>

<h2 class="text-center">Register</h2>

<div class="card">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=>model.StudentModel.userid)
        <div class="form-group">
            @Html.LabelFor(model => model.RegisterModel.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RegisterModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RegisterModel.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterModel.LastName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RegisterModel.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RegisterModel.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterModel.Email, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RegisterModel.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RegisterModel.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentModel.Address, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StudentModel.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentModel.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentModel.Phone, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StudentModel.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentModel.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterModel.Password, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RegisterModel.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RegisterModel.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterModel.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RegisterModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RegisterModel.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    }
</div>
